.DS_Store
node_modules/
*.iml
dist/
*.log
tests/errorShots/
tests/results/
certs/
coverage/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
