name: Push to Google Artifact Registry

on:
  push:
    branches: [ "feature/gcloud" ]

env:
  IMAGE_NAME: 'halversondm'
  PROJECT_ID: 'mywebsites-476913'
  AR_REPO_LOCATION: 'us-central1'
  AR_URL: 'us-central1-docker.pkg.dev/mywebsites-476913/halversondm'
  SERVICE_ACCOUNT: 'github-actions-service-account@mywebsites-476913.iam.gserviceaccount.com'
  WORKLOAD_IDENTITY_PROVIDER: 'projects/272516300321/locations/global/workloadIdentityPools/mywebsites-dev-pool/providers/github-actions-provider'

jobs:
  push_to_google_ar:
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm ci

      - name: Build Code
        run: npm run build

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          project_id: ${{ env.PROJECT_ID }}
          service_account: ${{ env.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v1'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.AR_REPO_LOCATION }}-docker.pkg.dev'

      - name: Build and Push Container
        run: |-
          cd dist
          docker build -t "${{ env.AR_URL }}/${{ env.IMAGE_NAME }}:latest" ./
          docker push "${{ env.AR_URL }}/${{ env.IMAGE_NAME }}:latest"