name: CD
on:
  push:
    branches-ignore:
      - master
      - feature/gcloud
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm ci

      - name: Build Code
        run: npm run build